body {
    background-color: rgb(37, 37, 37);
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-end;
    /* Alinea todo a la derecha */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
    /* Espacio entre enlaces */
}

header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

header a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

main img {
    width: 272px;
    height: 92px;
    margin-bottom: 24px;
}

.busqueda::placeholder {
    font-family: monospace;
    opacity: 1;
    color: #9aa0a6;
}

.busqueda {
    width: 95%;
    width: 570px;
    border-radius: 30px;
    padding: 17px;
    background: rgb(76, 76, 76);
    color: white;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
}

/* AÑADE ESTO AL FINAL DE TU CSS */
body {
    display: flex;
    /* Activa flexbox (ya tienes min-height) */
    flex-direction: column;
    /* Apila elementos verticalmente */
}

main {
    flex: 1;
    /* Ocupa todo el espacio disponible */
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    margin-top: auto;
    color: white;
    background-color: rgb(20, 20, 20);
}

hr {
    border: none;
    /* Elimina el borde por defecto */
    height: 1px;
    background-color: #444;
    margin: 0;
    width: 100%;
}


footer a {
    color: white;
    display: flex;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.links1 {
    float: left;
}

.links2 {
    float: right;
}

.configuracion {
    float: right;
    margin: 0;
    padding: 15px;
}

.links1 a,
.links2 a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.arg {
    padding: 15px 30px;
}

footer div section {
    padding: 0px 20px;
}


